#titleTitle {
	font-size: 450%;
}

#titleSub {
	font-size: 180%;
}

#bannerTitle {
	background-image: url(../image/super_healthy_food.jpg);
	background-size: 100%;
	background-position: center;
}

#appDescription {
	background-color :  skyblue;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#blockText:hover{
	font-weight: bold;
	animation: bounce 2s;
}

body{
	font-family: cursive;
}

#instruction1,#instruction2,#instruction3{
	text-align: center;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
}
#menu{
	text-align: center;
	display: inline-block;
	top: 30px;
	left: 170px;
	color: skyblue
}

.food{
	width: 160px;
	height: 160px;
	position: relative;;
	text-align: center;
	display: inline-block;
}
.is-food{
	height: 200px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#login{
	background-color:skyblue;
	font-family: cursive;
	color:white;
}

#logo{
	padding-bottom: 6px;
}

#pictures{

}
p{
	font-family: Arial;
}
.buttonText {
	color:#3298dc;
	font-family: Arial;
	font-weight: bold;
}

.longButton{
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.button.is-primary {
	background-color: skyblue;
	border-color: transparent;
	color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
	background-color: #00c4a7;
	border-color: transparent;
	color: #fff;
}

.button.is-primary:focus, .button.is-primary.is-focused {
	border-color: transparent;
	color: #fff;
}

.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active) {
	box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.button.is-primary:active, .button.is-primary.is-active {
	background-color: #00b89c;
	border-color: transparent;
	color: #fff;
}

.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
	background-color: skyblue;
	border-color: transparent;
	box-shadow: none;
}

.button.is-primary.is-inverted {
	background-color: #fff;
	color: skyblue;
}

.button.is-primary.is-inverted:hover, .button.is-primary.is-inverted.is-hovered {
	background-color: #f2f2f2;
}

.button.is-primary.is-inverted[disabled],
fieldset[disabled] .button.is-primary.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: skyblue;
}

.button.is-primary.is-loading::after {
	border-color: transparent transparent #fff #fff !important;
}

.button.is-primary.is-outlined {
	background-color: transparent;
	border-color: skyblue;
	color: skyblue;
}

.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined.is-hovered, .button.is-primary.is-outlined:focus, .button.is-primary.is-outlined.is-focused {
	background-color: skyblue;
	border-color: skyblue;
	color: #fff;
}

.button.is-primary.is-outlined.is-loading::after {
	border-color: transparent transparent skyblue skyblue !important;
}

.button.is-primary.is-outlined.is-loading:hover::after, .button.is-primary.is-outlined.is-loading.is-hovered::after, .button.is-primary.is-outlined.is-loading:focus::after, .button.is-primary.is-outlined.is-loading.is-focused::after {
	border-color: transparent transparent #fff #fff !important;
}

.button.is-primary.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-outlined {
	background-color: transparent;
	border-color: skyblue;
	box-shadow: none;
	color: skyblue;
}

.button.is-primary.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}

.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined.is-hovered, .button.is-primary.is-inverted.is-outlined:focus, .button.is-primary.is-inverted.is-outlined.is-focused {
	background-color: #fff;
	color: skyblue;
}

.button.is-primary.is-inverted.is-outlined.is-loading:hover::after, .button.is-primary.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-primary.is-inverted.is-outlined.is-loading:focus::after, .button.is-primary.is-inverted.is-outlined.is-loading.is-focused::after {
	border-color: transparent transparent skyblue skyblue !important;
}

.button.is-primary.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff;
}

.button.is-primary.is-light {
	background-color: #ebfffc;
	color: rgb(119, 205, 240);
}

.button.is-primary.is-light:hover, .button.is-primary.is-light.is-hovered {
	background-color: #defffa;
	border-color: transparent;
	color: rgb(119, 205, 240);
}

.button.is-primary.is-light:active, .button.is-primary.is-light.is-active {
	background-color: #d1fff8;
	border-color: transparent;
	color: rgb(119, 205, 240);
}

.is-info.input, .is-info.textarea {
	border-color: skyblue;
}

/* quick reset and base styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-family: helvetica, arial, sans-serif;
}

/* relevant styles */
.img__wrap {
	position: relative;
	height: 200px;
	width: 200px;
}

.img__description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: skyblue;
	opacity: 60%;
	color: #fff;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;

	/* transition effect. not necessary */
	transition: opacity .05s, visibility .05s;
}

.img__wrap:hover .img__description_layer {
	visibility: visible;
	opacity: 1;
}

.img__description {
	transform: translateY(1em);
}

.img__wrap:hover .img__description {
	transform: translateY(0);
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


label {
	display: block;
	margin-top: 2em;
	margin-bottom: 0.5em;
	color: #999999;
}

input {
	width: 100%;
	padding: 0.5em 0.5em;
	font-size: 1.2em;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
}

button {
	display: inline-block;
	border-radius: 3px;
	border: none;
	font-size: 0.9rem;
	padding: 0.5rem 0.8em;
	background: #69c773;
	border-bottom: 1px solid #498b50;
	color: white;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	margin: 0;
	width: 100%;
	text-align: center;
}

button:hover, button:focus {
	opacity: 0.75;
	cursor: pointer;
}

button:active {
	opacity: 1;
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

#input_food,#input_measure,#input_amount{
	width:75%;
	height:200%;
	border-color: skyblue;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}


.button1{
	padding-left: 25%;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.summary{
	font-size: 1.4em;
	margin-left: 25%;
}

#addItem{
	width:10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.item-block{
	display: inline-block;
	margin-left: 25%;
	margin-right: 25%;

}
.tag:not(body).is-success {
	background-color: #5fbb7f;
	color: #fff;
}

.tag{
	display: inline-block;
	text-align: center;
}
.span{
	width:100%;
}

.button.is-primary.is-outlined {
	background-color: transparent;
	border-color: deepskyblue;
	color:deepskyblue;
}

.instruction4{
	text-align: center;
	color:gray();
	font-size: 2em;
}
