#headBanner {
    background-image: url(demo_pics/running.jpg);
    background-size: 100%;
    background-position: center;
    opacity: .7;
}

.infoTitleText {
    font-size: 300%;
    color:white;
}

body {
    font-family: cursive;
}

.header {
    font-weight: bold;
}

#finishedUserInfo {
    background-color: skyblue;
    float: left;
    position: relative;
    left: -50%;
}

#buttonText{
    color: black;
    font-size: 125%;
}

.userInput {
    font-size: 150%;
}

#GenderTitle {
    text-align: center;
}

.arrowNavi {
    font-size: 800%;
    text-align: center;
    background-color: skyblue;
}

#buttonFloat {
    float: left;
    position: relative;
    left: 50%;
}

.outerArrow {
    text-align:center;
}

.innerArrow {
    display: inline-block;
}



